services:
  gateway:
    image: ghcr.io/path-drc/path-drc-emr-gateway:__RELEASE_VERSION__
  frontend:
    image: ghcr.io/path-drc/path-drc-emr-frontend:__RELEASE_VERSION__
  backend:
    image: ghcr.io/path-drc/path-drc-emr-backend:__RELEASE_VERSION__
  db:
    image: mariadb:10.11.7
